streamlit
pymongo
nltk
spacy
gensim
pandas
matplotlib
seaborn
textblob
vaderSentiment
wordcloud
newspaper3k
GoogleNews
lxml
lxml_html_clean
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
